*{  
    margin: 0px;   
    font-family: sans-serif;
    font-size: 22px;   
    font-weight: 600;
}  
 .H1{ 
    
    display: none; 
 } 
 .header-dimagrey {   
     
    display: flex;   
    background-color:dimgrey ;  
    height: 150px;   
    min-height:150px;    
    justify-content: center;   
    align-items: center;   
    text-align: center;
    
}   
.header-sandybrown {   
     
    display: flex;   
    background-color:sandybrown ;  
    height: 550px;      
    justify-content: center;   
    align-items: center;  
    text-align: center;
}
.t1{
    
    margin: auto; 
    display: flex;
    background-color: coral;  
    height: 80px;  
    max-width:1170px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.blok-green{   
   
    margin: auto; 
    display: flex;  
    background-color: mediumseagreen ;   
    height: 300px;  
    max-width: 1170px;      
    justify-content: center;   
    align-items: center; 
    text-align: center; 

}   
.t2  
{  
    margin: auto;  
    display: flex;  
    background-color: coral;   
    max-width:1170px;   
    height: 80px;
    align-items: center;   
    justify-content: center; 

}     
.blockes{
    
    margin: auto;
    display: grid; 
    background-color: coral;    
    max-width:1170px;   
    grid-template-columns: repeat(3,1fr);   
    grid-template-rows: repeat(3,150px);   
    column-gap: 20px;   
    row-gap: 20px;   
    padding-block-end: 20px;  
     
}
.b1{   
     
    display: flex; 
    background-color: blueviolet;   
    grid-row-start: 1;  
    grid-row-end: 2;  
    grid-column-start: 1;   
    grid-column-end: 2;  
    margin-left: 10px;  
    justify-content: center;   
    align-items: center; 
      
}   
.b2{   
     
    display: flex; 
    background-color: blueviolet;   
    grid-column-start: 1;   
    grid-column-end: 2;  
    grid-row-start: 2;  
    grid-row-end: 4;  
    margin-left: 10px;  
    justify-content: center;   
    align-items: center; 
    
}   
.b3{   
     
    display: flex; 
    background-color: blueviolet;   
    grid-column-start: 2;   
    grid-column-end: 3;   
    grid-row-start: 1;  
    grid-row-end: 2;  
    justify-content: center;   
    align-items: center;  
  
}   
.b4{   
     
    display: flex;  
    background-color: blueviolet;   
    grid-column-start: 2;   
    grid-column-end: 3;  
    grid-row-start: 2;  
    grid-row-end: 3;   
    justify-content: center;   
    align-items: center; 
  
}   
.b5{   
     
    display: flex; 
    background-color: blueviolet;   
    grid-column-start: 2;   
    grid-column-end: 3;  
    grid-row-start: 3;  
    grid-row-end: 4;   
    justify-content: center;   
    align-items: center;   
  
}   
.b6{   
     
    display: flex; 
    background-color: blueviolet;   
    grid-column-start: 3;   
    grid-column-end: 4;  
    grid-row-start: 1;  
    grid-row-end: 3;  
    margin-right: 10px;   
    justify-content: center;   
    align-items: center;   
  
}   
.b7{   
      
    display: flex; 
    background-color: blueviolet;   
    grid-column-start: 3;   
    grid-column-end: 4;  
    grid-row-start: 3;  
    grid-row-end: 4;   
    margin-right: 10px;  
    justify-content: center;   
    align-items: center; 
 
}   
 
footer{  
     
    margin: auto;   
    display: flex; 
    background-color: rgb(3, 3, 3);   
    color: aliceblue;  
    height: 400px;     
    justify-content: center;   
    align-items: center;   
    text-align: center;
}
@media (max-width:150px)
{
    .blockes{
        
        display: flex;
        height:unset;
        justify-content: center;
    }
    
}
